<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This app is created as a part of nodejs tutorial. </p>
      <p>It uses Mapbox.com and Openweather.com.</p>
      <img class="portrait" src="/img/profile.jpg" alt="profile photo" />
    </div>
    
    {{>footer}}
  </body>
</html>
